---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #5e1d7d !default;
$header-bg-color-secondary: #b159d9 !default;

// Text
$section-headings-color: #D35400;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  text-shadow: 2px 2px #404040;
  padding: 3rem 6rem;
//  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(177,89,217,1) 100%);
  background-image: url("images/logo.svg"), radial-gradient(circle, rgba(244,146,189,1) 0%, rgba(108,6,154,1) 100%);
  background-repeat: no-repeat;
  background-size: auto;
}

.main-content p{
  color: #452c63;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #33006F;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
  background-color: #E6E6FA;
}

ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}

li {
  padding-left: 16px;
}

li::before {
  content: "📒 "; /* Insert content that looks like bullets */
  padding-right: 8px;
}

.container {
  display:flex;
}

.column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
  flex-basis: 50%; /* sets initial width to 70% */
}


.box {
  padding: 1rem;
  box-shadow: transparent;
  padding-bottom: 2rem;
}

.project-tagline{
  font-size:1.45rem;
  color: #FBFBFB;
}


// ul.styled {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   li {
//     padding-left: 1rem;
//     text-indent: -0.75rem;
//     &::before {
//       content: "🦁 ";
//     }
//     &:nth-child(2)::before {
//       content: "🐆 ";
//     }
//     &:nth-child(3)::before {
//       content: "🦏 ";
//     }
//     &:nth-child(4)::before {
//       content: "🐘 ";
//     }
//     &:nth-child(5)::before {
//       content: "🐃 ";
//     }
//   }

//
// @counter-style repeating-emoji {
//   system: cyclic;
//   symbols: "\1F4D4" "\1F3E2" "\203C" "\1F30E" "\1F46E" "\2694"; // unicode code point
//   suffix: " ";
// }
//
// .repeating-counter-rule {
//   list-style-type: repeating-emoji;
// }
//


@media only screen and (max-width: 900px) {
  .container {
      /* it place the items in vertical direction */
    flex-direction: column;
    padding-top: 2rem;
//    margin: auto auto auto auto;
  }
}

  // .repeating-before {
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  //
  //   li {
  //     padding-left: 1rem;
  //     text-indent: -0.7rem;
  //   }
  //
  //   li:nth-child(3n+1)::before {
  //     content: "📒 ";
  //   }
  //
  //   li:nth-child(3n+2)::before {
  //     content: "🏢 ";
  //   }
  //   li:nth-child(3n+3)::before {
  //     content: "‼️ ";
  //   }
  //
  //   li:nth-child(3n+4)::before {
  //     content: "🌎 ";
  //   }
  //   li:nth-child(3n+5)::before {
  //     content: "👮‍ ";
  //   }
  //   li:nth-child(3n)::before {
  //     content: "⚔️";
  //   }
  // }


//@counter-style repeating-emoji {
//    system: cyclic;
//    symbols: "\1F4D4" "\1F3E2" "\203C" "\1F30E" "\1F46E" "\2694"; // unicode code point
    // 1F4D4 ledger
    // 1F3E2 <- office
    //203C 	<- !!
    //1F30E <- Americas
    //1F46E <- police
    //1F3FE <- skintone
    //2694 <- dagger
    //1F3E6 <- banks
//    suffix: " ";
//  }
//  .repeating-counter-rule {
//    list-style-type: repeating-emoji;
//  }
